# Module 4 Project

Author: [Prabha Sapkota](https://github.com/prabhasapkota)  Repository:[datafun-04-notebooks](https://github.com/prabhasapkota/datafun-04-notebooks)

## Resources
[Jupyter Notebook Tips, Tricks, and Shortcuts](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/) - A blog post with useful tips, tricks, and keyboard shortcuts to enhance your productivity in Jupyter Notebooks.

[Real Python Jupyter Notebook Tutorial](https://realpython.com/jupyter-notebook-introduction/) - A beginner-friendly tutorial that provides an introduction to Jupyter Notebooks, covering installation, notebook interface, running code, markdown cells, and data visualization.

## Task 1: series

In [1]:
import pandas as pd
grades = pd.Series([60, 67, 88, 93, 78, 87, 85, 70, 95, 65, 43, 91])
grades[0], grades.count(), grades.mean(), grades.min(), grades.max(), grades.std(), grades.describe()

(60,
 12,
 76.83333333333333,
 43,
 95,
 15.953531004613103,
 count    12.000000
 mean     76.833333
 std      15.953531
 min      43.000000
 25%      66.500000
 50%      81.500000
 75%      88.750000
 max      95.000000
 dtype: float64)

## Task 2: Series from Dictionary

In [3]:

grades_dict = {"Wally" : [55, 63, 67, 60, 69], "Eva" : [70, 75, 78, 69, 80]}
grades = pd.DataFrame(grades_dict)
grades.index = ["Test1", "Test2", "Test3", "Test4", "Test5"]

grades

       Wally  Eva
Test1     55   70
Test2     63   75
Test3     67   78
Test4     60   69
Test5     69   80

In [4]:
grades["Eva"]

Test1    70
Test2    75
Test3    78
Test4    69
Test5    80
Name: Eva, dtype: int64

In [5]:
grades.Wally

Test1    55
Test2    63
Test3    67
Test4    60
Test5    69
Name: Wally, dtype: int64

In [6]:
grades2 = pd.Series([55, 70], index = ["Wally", "Eva"])
grades.values

array([[55, 70],
       [63, 75],
       [67, 78],
       [60, 69],
       [69, 80]])