# Bonus Task

* Author : [Prabha Sapkota](https://github.com/prabhasapkota?tab=repositories)
* GitHub repo : [GitHub repo for module 4](https://github.com/prabhasapkota/datafun-04-notebooks)

## Create a DataFrame

* Create a contacts lists

In [3]:
import pandas as pd

contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts, columns = ["Name", "Email", "Phone Number"])
contactsdf

         Name             Email Phone Number
0  Mike Green  demo1@deitel.com   5555555555
1   Sue Brown  demo2@deitel.com   5555551234

## Using Map and Function to improve the dataframe

In [5]:
import re
def get_formatted_phone(value) :
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

formatted_phone = contactsdf["Phone Number"].map(get_formatted_phone)
formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone Number, dtype: object

* We can see phone number appears with two dashes.

## Creating new contact list with the formatted phone numbers

In [6]:
contactsdf["Phone Number"] = formatted_phone

contactsdf

         Name             Email  Phone Number
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234